@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@400;500&family=Orbitron:wght@400;500&family=ZCOOL+QingKe+HuangYou&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#calculator {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(3px);
    padding: 1em;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    min-width: 400px;
}

#calculator .display {
    height: 2.8em;
    border: 2px solid #333;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 1rem;
    margin-bottom: 1em;
    font-size: 1.4em;
    font-family: 'Foldit', cursive;
    /* color: #333; */
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'ZCOOL QingKe HuangYou', sans-serif; */
}

#calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
}

#calculator .btn {
    padding: 1em;
    cursor: pointer;
    text-align: center;
    border-radius: 0.2em;
    /* border: 1.5px solid #333; */
    transition: all 100ms ease-in;
}

#calculator .btn:active {
    transform: translateY(3px);
}

#calculator .buttons .btn[data-number] {
    opacity: 0.6;
}

#calculator .buttons .btn[data-operator] {
    background-color: #333;
    color: #fff;
}

#calculator .buttons .btn[data-value="sum"] {
    background-color: rgba(235, 112, 112, 1);
    color: #fff;
}

#calculator .buttons .btn.pressed {
    animation: pressedAnim 100ms;
}

@keyframes pressedAnim {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(3px);
    }
}