*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    /* min-height: 90vh; */
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

#calculator {
    width: 40%;
    /* height: 60%; */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center; */
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    /* background-color: #dfdfdf; */
    background-color: #fff;
    opacity: 0.6;
    backdrop-filter: blur(3px);
    padding: 1em;
}

#calculator .display {
    background-color: #fff;
    /* width: 100%; */
    height: 50px;
    /* padding: 1em; */
    /* margin: 1em; */
    border: 1px solid black;
    margin: 1em 0;
}

#calculator .button {
    border: 1px solid black;
    padding: 1em;
    flex-basis: calc(100% / 3);
    cursor: pointer;
    text-align: center;
}

#calculator .button:hover {

    background-color: #efefef;
}

#calculator .buttons {
    display: flex;
    justify-content: center;
}

#calculator .numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}